*{
  margin: 0;
  padding: 0;  
}

@media screen {
.body {
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    padding-left: 20%;
    padding-right: 20%;
  }
  .container {
    display: flex;
  }

  .header {
    display: flex;
    justify-content: center;  
    align-items: center; 
    flex-direction: row-reverse;   
    background-image: url(../img/header_background.jpeg); 
  }

  .insta_link{
      text-decoration: none;
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;      
  }

  .insta_logo{
      display: flex;
      flex-direction: row;
  }

  .logo{
      width: 1.5rem;
      height: 1.5rem;
      padding: 0.2rem;      
  }

  .avatar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar_border {
    border-radius: 50%;
    border: 0.1rem solid rgba(var(--i1d, 200, 200, 200), 1);
    width: 8.75rem;
    height: 8.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .avatar {
    border-radius: 50%;
    width: 8rem;
    height: 8rem;
    overflow: hidden;
  }

  .nickname {
    padding-left: 5px;
    font-size: 1rem;    
  }

  .contacts{
    display: flex;
    flex-direction: column;
    padding: 16px;
  }

  .messangers{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .whatsapp{
    width: 1.5rem;
    height: 1.5rem;
  }

  .greet_text{
    padding: 10px;
  }
  .text{
    text-align: center;    
    margin-bottom: 0;
    font-style: italic;
  }

  .text_input{
    text-align: center;    
    margin-bottom: 0;
    font-weight: 500;
  }

  .date{
    display: flex;
    justify-content: center;  
    flex-direction: column;
  }

  .input_date{
    width: 100%;
    height: 3rem;
    text-align: center;
  }

  .matrix{
    border-collapse: collapse;
    margin-top: 20px;
    width: 100%;
  }

  .matrix_td{
    border: 1px solid black;
    text-align: center;
  }

  .matrix_td_special{
    border: 1px solid black;
    text-align: center;
    background: #aea8a3;
    width: 25%;
    height: 10vh;
  }

  input[type="submit"] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
  }
  
  input[type="submit"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }
  
  .inputWithIcon input[type="submit"] {
    padding-left: 40px;
  }
  
  .inputWithIcon {
    position: relative;
  }
  
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 13px;
    padding: 9px 13px;
    color: #aaa;
    transition: 0.3s;
  }
  
  .inputWithIcon input[type="submit"]:focus + i {
    color: dodgerBlue;
  }
  
  .inputWithIcon.inputIconBg i {
    background-color: #aaa;
    color: #fff;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
  }
  
  .inputWithIcon.inputIconBg input[type="submit"]:focus + i {
    color: #fff;
    background-color: dodgerBlue;
  }
}
@media screen and (max-width: 768px) {
  .body {
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
    padding-left: 0%;
    padding-right: 0%;
  }
  
  .header {
    display: flex;
    justify-content: center;  
    align-items: center;     
    flex-direction: column;
  }

  .contacts{
    padding: 16px 0 0 0;
  }
}